<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Vehicle Parking System</title>
</head>

<body>
    <div class="wrapper">
        <h1 class="heading">LPG Booking System</h1>
        <form action="/" , method="POST">
            <div class="formInput">
                <input type="text " id="Name " placeholder = "Name" name="Name"  />
                <input type="text " id="Phone " placeholder = "Phone" name="Phone"  />
                <input type="text " id="Name " placeholder = "LPG ID" name="LPG ID"  />
                <select name="Type" id=" Type ">
            <option value="Select " selected>Select</option>
            <option value="5 kg ">5 kg</option>
            <option value="9 kg ">9 kg</option>
            <option value="15 kg ">15 kg</option>
            <option value="45 kg ">45 kg</option>
            <option value="90 kg ">90 kg</option>
          </select>
                <button type="submit "> BOOk </button>
            </div>
        </form>

      
    </div>
    <script src=" js/script.js "></script>
</body>

</html>